.btn {
	background-color: #64CCC5;
	border-radius: 8px;
	border: 1px solid #176B87;
	color: #000000;
	font-size: 16px;
	padding: 6px 12px;
}

.btnDelete {
	background-color: #dc3545;
	border-radius: 8px;
	color: #eeeeee;
	font-size: 14px;
	padding: 5px 10px;
	border:none;
}

.btnEdit {
	background-color: #176B87;
	border-radius: 8px;
	color: #eeeeee;
	font-size: 14px;
	padding: 5px 10px;
	border:none;
}
.btnBack {
	background-color: #6c757d;
	border-radius: 8px;
	color: #eeeeee;
	font-size: 14px;
	padding: 5px 10px;
	border:none;
}