body{
    margin-top:20px;
    background: #053B50;
  }
  
  .todo-list {
    margin: 10px 0
  }
  
  .todo-list .todo-item {
    padding: 15px;
    margin: 5px 0;
    border-radius: 0;
    font-size: 14px;
  }
  
  div.checker {
    width: 18px;
    height: 18px;
    margin:5px;
  }
  
  div.checker input{
    width: 18px;
    height: 18px
  }
  
   div.checker {
    display: inline-block;
    vertical-align: middle;
  }
  
  .done {
    text-decoration: line-through;
  }