body {
	margin-top: 20px;
	background: #053b50;
}

div.checker {
	width: 18px;
	height: 18px;
	margin: 5px;
}

div.checker input {
	width: 18px;
	height: 18px;
}

div.checker {
	display: inline-block;
	vertical-align: middle;
}

.done {
	text-decoration: line-through;
}
.navigation {
	background-color: #eeeeee;
}
.card {
  background-color: #eeeeee;
}